In [1]:
from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import requests
import folium
import openpyxl
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
%matplotlib inline

In [2]:
#COVID POSITIVE CASES
covid_pos = pd.read_csv("data/COVID_CountByZipPerDate03292021.csv")
covid_pos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8832 entries, 0 to 8831
Data columns (total 3 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Specimen Collection Date  8832 non-null   object
 1   Zip                       8456 non-null   float64
 2   Cases                     8832 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 207.1+ KB

In [3]:
covid_pos.head()

  Specimen Collection Date      Zip  Cases
0                 3/6/2020  37217.0      1
1                3/10/2020  37214.0      1
2                3/11/2020  37013.0      1
3                3/11/2020  37204.0      2
4                3/11/2020  37205.0      1

In [5]:
#clean up: rename columns, cast zip as object, split off '.0'
covid_pos = covid_pos.rename(columns={'Specimen Collection Date':'Test Date', 'Zip':'zip'})
covid_pos['zip'] = covid_pos['zip'].astype('str')
covid_pos['zip'] = covid_pos['zip'].str.strip('.0')
covid_pos.head()

   Test Date    zip  Cases
0   3/6/2020  37217      1
1  3/10/2020  37214      1
2  3/11/2020  37013      1
3  3/11/2020  37204      2
4  3/11/2020  37205      1